<header class="flex-center relative h-16 md:h-[132px] rounded-b-2xl shadow-[inset_0px_167px_4px_0px_#FFFFFF29]">
  <section class="container flex-between xl:gap-x-[120px]">
    <div class="flex justify-center items-center gap-x-2 text-secondary-50 fill-secondary-50 md:hidden">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 18H19M5 6H19M5 12H19" stroke="#FEFCE8" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </div>
      <!-- Logo -->
     <div class="flex-center flex-1 lg:flex-none"><img src="/images/logo/logo.webp" width="84" height="84" class="size-16 md:size-[84px]"/></div>
     <foodOffer-desktop-navigation />
     <foodOffer-header-user-actions />
     </section>
</header>
