<section>
  <nav>
    <ul class="flex flex-col gap-y-6">
       <li><a class="flex items-center gap-x-2">
            <span foodOfferIcons="home"></span>
            <span>صفحه اصلی</span>
       </a></li>
       <li><a class="flex items-center gap-x-2">
        <span foodOfferIcons="offers"></span>
        <span> پیشنهادهای روز</span>
   </a></li>
   <li><a class="flex items-center gap-x-2">
    <span foodOfferIcons="register"></span>
    <span>  ثبت رستوران</span>
</a></li>
<li><a class="flex items-center gap-x-2">
  <span foodOfferIcons="about-us"></span>
  <span>  درباره ما</span>
</a></li>
<li><a class="flex items-center gap-x-2">
  <span foodOfferIcons="contact-us"></span>
  <span> پیشنهادهای روز</span>
</a></li>
      </ul>
  </nav>
</section>
