<div class="flex-center gap-x-2 md:gap-x-4">
  <!-- Search Btn -->
  <button (click)="onSearchClick()" class="hidden md:flex p-2 rounded-md border border-secondary-50 fill-secondary-normal hover:bg-secondary-50 hover:fill-primary-darker transition-colors">
      <span foodOfferIcons="search"></span>
  </button>
 <!-- Cart Btn -->
<button class="size-9 md:size-10 p-2 rounded-md border border-secondary-50 stroke-secondary-normal hover:bg-secondary-50 hover:stroke-primary-darker transition-colors">
      <span foodOfferIcons="cart"></span>
</button>
<!-- User Btn -->
<button class="size-9 md:size-auto flex-center gap-1 p-2 rounded-md border border-secondary-50 text-secondary-normal font-medium fill-secondary-normal hover:bg-secondary-50 hover:text-primary-darker hover:fill-primary-darker transition-colors">
  <span foodOfferIcons="user"></span>
<span class="hidden lg:flex text-sm">ورود / ثبت نام</span>
</button>
 </div>
