@import "./fonts.css";
@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "tailwindcss-primeui";

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 50px;
  border: 1px solid var(--scrollbar-track);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  html {
    @apply scroll-smooth min-h-screen;
  }

  body {
    @apply text-base md:text-lg font-primary font-normal text-white bg-primary-darker;
  }
  button{
    cursor: pointer;
  }
  a:hover{
    @apply hover:text-secondary-normal transition-colors
  }

}

@theme {
  --font-primary: IRANSans, sans-serif;
  --color-primary-lighter: oklch(86.66% 0.1203 180.65);
  --color-primary-light: oklch(71.32% 0.1058 180.08);
  --color-primary-normal: oklch(49.46% 0.0835 178.39);
  --color-primary-dark: oklch(32.51% 0.0607 176.18);
  --color-primary-darker: oklch(18.34% 0.033156 180.5431);
  --color-secondary-50: oklch(98.73% 0.0262 102.21);
  --color-secondary-lighter: oklch(83.74% 0.05 99.74);
  --color-secondary-light: oklch(94.51% 0.1243 101.54);
  --color-secondary-normal: oklch(86.06% 0.1731 91.94);
  --color-secondary-dark: oklch(79.52% 0.1617 86.05);
  --color-secondary-border: oklch(94.62% 0.1076 98.99);
  --scrollbar-width: 12px;
  --scrollbar-track: oklch(86.66% 0.1203 180.65);
  --scrollbar-thumb: oklch(49.46% 0.0835 178.39);
  --scrollbar-thumb-hover: oklch(18.34% 0.033156 180.5431);
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --font-display-1: 48px;
  --font-display-2: 32px;
  --font-heading-1: 22px;
  --font-heading-2: 18px;
  --font-heading-3: 16px;
  --font-body-1: 16px;
  --font-body-2: 14px;
  --font-body-3: 12px;
}
@layer components {
  .bg-border-gradient{
    background-color: #FFFFFF3D;
  }
}
@layer utilities {
  .font-primary {
    font-family: var(--font-primary);
  }
  .text-display-1 {
    font-size: var(--font-display-1);
  }
  .text-display-2 {
    font-size: var(--font-display-2);
  }
  .text-heading-1 {
    font-size: var(--font-heading-1);
  }
  .text-heading-2 {
    font-size: var(--font-heading-2);
  }
  .text-heading-3 {
    font-size: var(--font-heading-3);
  }
  .text-body-1 {
    font-size: var(--font-body-1);
  }
  .text-body-2 {
    font-size: var(--font-body-2);
  }
  .text-body-3 {
    font-size: var(--font-body-3);
  }
  .container {
    @apply p-4 md:p-2.5 mx-auto;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .dir-left {
    direction: ltr;
  }
}
